.headerDivContainer {
    display: flex;
    background-color: rgb(43, 53, 57);
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 55px;
}

.headerDivIteams {
    position: relative;
    color: white;
    font-size: 20px;
    font-weight: bolder;
    text-shadow: 1px 1px 2px darkgray;
    top: 15px;
    cursor: pointer;
    margin-right: 20px;

    /* display: flex;
    flex-direction: row;
    justify-content: flex-start;
    color: white;
    align-items: center;
    text-shadow: 1px 1px 1px black;
    cursor: pointer; */
}
