.headerDivContainer {
    background: rgb(253, 64, 64);
    background: linear-gradient(90deg, rgba(253, 64, 64, 1) 60%, rgba(171, 71, 149, 1) 90%, rgba(107, 83, 150, 1) 100%);
}

.headerDivIteams {
    position: relative;
    color: white;
    font-size: 20px;
    font-weight: bolder;
    text-shadow: 1px 1px 2px darkgray;
    top: 15px;
    cursor: pointer;
    margin-right: 20px;

    /* display: flex;
    flex-direction: row;
    justify-content: flex-start;
    color: white;
    align-items: center;
    text-shadow: 1px 1px 1px black;
    cursor: pointer; */
}
