.moneychargeContainer {
    padding: 0;
    width: 80vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 20vw;
}
.moneychargeContainer header {
    display: block;
    width: 80vw;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    align-self: start;
    font-size: 25px;
    font-weight: bolder;
    margin-bottom: 25px;
    min-width: 20vw;
    padding: 10px;
}

.moneychargeContainer > div {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 80vw;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-self: center;
    min-width: 20vw;
}

.items {
    display: flex;
    flex-direction: row;
    padding-left: 50px;
    margin: 10px;
    /* align-self: start; */
}

.items:nth-child(n) {
    border-bottom: 1px solid pink;
}

.items div:nth-child(1) {
    width: 200px;
    margin-right: 30px;
}

.moneychargeContainer input[type="text"] {
    border: 0 solid black;
    /* border-left: 0px;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 0px; */
    background-color: transparent;
}

.moneychargeContainer input[type="text"]:focus {
    border: 0 solid black;
    /* background-color: transparent; */
}

.moneychargeContainer input[type="number"] {
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 2px;
    border: 0px;
    top: -4px;
}

.moneychargeContainer button {
    border: none;
    background-color: rgb(255, 64, 64);
    color: whitesmoke;
}

.moneychargeTable {
    height: 50px;
    display: flex;
    align-content: center;
}
.moneychargeTable,
.moneychargeTable > div {
    display: flex;
    flex-direction: row !important;
    font-size: 17px;
    align-self: center;
    justify-content: space-around;
    /* width: 100%; */
}

.moneychargeTable > div input {
    border: 1px solid grey !important;
    text-align: center;
    align-self: center;
}

.moneychargeTable span {
    display: inline-block;
    font-weight: bolder;
    align-self: center;
    font-size: 17px;
    margin-left: 20px;
    margin-right: 20px;
    width: 100px;
}

.moneychargeTable svg {
    font-size: 30px;
    margin-left: 10px;
    margin-right: 20px;
}

@media (min-width: 550px) {
    .moneychargeContainer > div,
    .moneychargeContainer > header {
        max-width: 60vw !important;
    }
    /* .moneychargeTable > div > span {
        display: none !important;
    } */
}

@media (max-width: 1200px) {
    .moneychargeContainer > div {
        max-width: 60vw !important;
    }

    .moneychargeContainer thead,
    .moneychargeContainer tbody {
        font-size: 0.6rem;
    }
    .moneychargeContainer > header {
        max-width: 60vw !important;
        margin-left: 10vw;
    }
    .moneychargeTable > div > span,
    .moneychargeTable > div input {
        display: none;
    }
}

@media (max-width: 1390px) {
    .moneychargeTable > div > span,
    .moneychargeTable > div input {
        display: none;
    }

    .moneychargeTable > div > label > svg {
        font-size: 5rem;
    }
}

@media (min-width: 1400px) {
    .moneychargeContainer > header,
    .moneychargeContainer > div {
        max-width: 80vw !important;
    }
}

.moneychargeTable svg {
    cursor: pointer;
}

.transactionTable th,
.transactionTable td {
    text-align: center !important;
}

.MoneyChargeTable th,
.MoneyChargeTable td {
    width: 50%;
    text-align: center !important;
}

.MoneyChargeTable input[type="number"]:focus {
    outline: none;
}

.MoneyChargeTable input[type="number"] {
    outline: none;
    border: 0 solid black !important;
    background-color: transparent !important;
    text-align: center !important;
    box-shadow: none;
    position: relative;
    top: 0px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
